<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/mycash</property>
    <property name="hibernate.connection.username">mycash_admin</property>
    <property name="hibernate.connection.password">mycash_admin</property>
    <mapping resource="org/bob/web/applications/mycash/engine/hc/dao/Users.hbm.xml"/>
    <mapping resource="org/bob/web/applications/mycash/engine/hc/dao/Transactions.hbm.xml"/>
    <mapping resource="org/bob/web/applications/mycash/engine/hc/dao/Portfolios.hbm.xml"/>
    <mapping resource="org/bob/web/applications/mycash/engine/hc/dao/Accounts.hbm.xml"/>
    <mapping resource="org/bob/web/applications/mycash/engine/hc/dao/Employee.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
